.header {
  color: #aaa;
  display: flex;
  background: white;
  padding: 10px;
  padding-right: 30px;
  box-shadow: 0 0 12px 3px #d0d0d0;
  justify-content: space-between;
}
.header b {
  color: black;
}
.header .nav * {
  color: #44be8d;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background: #fbfbfb;
}
body .content {
  width: 800px;
  margin: auto;
}
body .content .main {
  display: flex;
}
body .content .main .filters {
  width: 20%;
  margin-right: 10px;
  border-top: 1.5px solid #44be8d;
}
body .content .main .filters div {
  cursor: pointer;
}
body .content .main .filters .more-filters {
  box-shadow: 0 7px 12px 1px #d6d6d6;
}
body .content .main .filters .more-filters div {
  padding: 5px;
}
body .content .main .filters .more-filters div:hover {
  background: #ffb1b1;
  color: #ce0000;
}
body .content .main .filters .filter {
  justify-content: space-between;
  display: flex;
}
body .content .main .filters i {
  padding-right: 10px;
  padding-top: 3px;
  color: #aaa;
}
body .content .main .movies {
  margin-left: 10px;
  width: 80%;
}
body .content .main .movies .fa-heart,
body .content .main .movies .remove {
  color: #44be8d;
  font-size: 12px;
  cursor: pointer;
}
body .content .main .movies.favorites .left {
  margin-right: 10px;
}
body .content .main .movies.favorites .left img {
  width: 200px;
  height: 100%;
}
body .content .main .movies.favorites .title {
  display: flex;
  justify-content: space-between;
}
body .content .main .movies .movie {
  padding: 5px 15px 15px 5px;
  border-top: 1.5px solid #c9c9c9;
  display: flex;
}
body .content .main .movies .movie .left.main {
  margin-right: 10px;
}
body .content .main .movies .movie .left.main img {
  width: 75px;
  height: 100%;
}
body .content .main .movies .movie.favorited {
  border-top: 1.5px solid #44be8d;
}
body .content .main .movies .movie .votes i {
  color: #ffc20c;
  font-size: 12px;
  margin-right: 5px;
}
body .content .main .movies .movie .details {
  margin-top: 10px;
}
body .content .main .movies .movie .details .release {
  color: #aaa;
  font-size: 10px;
  margin-top: 5px;
}
.small-text {
  font-size: 10px;
}
